# Streamlit app dependencies (Python 3.10)
streamlit==1.36.0
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.4.2
plotly==5.22.0
requests==2.32.3
joblib==1.4.2
yfinance==0.2.44
oauth2client

# Google Sheets
gspread==6.1.2
google-auth==2.33.0
gspread-dataframe

#TensorFlow dependencies
tensorflow-cpu==2.15.0
protobuf<4.25.0          # avoids known TF/Protobuf import clash
h5py>=3.8                # Keras sometimes needs this for model I/O
pandas-ta

# Timezone data for zoneinfo on some platforms
tzdata>=2023.3
